@model UserInfo

@{
    ViewBag.Title = "Ishtirak Formu";
}

<h1 class="h4 text-center">Iclasda ishtirak formu</h1>
<form method="post" action="/meeting/apply">

    <div asp-validation-summary="All"></div>

    <div class="mb-3">
        <label asp-for="Name" class="foorm-label">Ad Soyad</label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="Phone" class="foorm-label">Telefon</label>
        <input asp-for="Phone" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="foorm-label">Email</label>
        <input asp-for="Email" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="WillAttend" class="foorm-label">Ishtirak edecekmisiniz?</label>
        <select asp-for="WillAttend" class="form-select">
            <option value="true">Beli, Gelecem</option>
            <option value="false">Xeyr, Gelmeyecem</option>
        </select>
    </div>
    
    <button class="btn btn-primary"  type="submit">Qeyd et</button>
</form>
