@{
    ViewBag.Title = "Iclas Ozeti";
}

<h1 class="h4">Iclas Ozeti</h1>
<p>Iclasa sizinle birlikde 20 kishi ishtirak edecek</p>
<a class="btn btn-sm btn-outline-primary" href="#">Ishtirakcilari Listele</a>