@{
    ViewBag.Title = "Iclasda ishtirak edecekler:";
}

<main class="text-center">
<h1 class="h4">Iclasda ishtirak edecekler:</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Ad</td>
            <td>Ishtirak veziyyeti</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Kenan Bayram</td>
            <td>Beli</td>
            <td>
                <a class="btn btn-sm btn-success" href="#">Daha Etrafli</a>
            </td>
        </tr>
        <tr>
            <td>Maya Bayram</td>
            <td>Beli</td>
            <td>
                <a class="btn btn-sm btn-success" href="#">Daha Etrafli</a>
            </td>
        </tr>
    </tbody>
</table>
</main>