@{
    Layout="_Layout2";
}

<h1 class="h4">Salam</h1>
<p>Iclasda ishtirak durumunuzu bildirin.</p>
<a class="btn btn-sm btn-outline-primary" asp-controller="meeting" asp-action="apply">Muraciet et</a>